.Navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.navnav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.Loc1 {
    width: 100%;
    margin: 1%;
}
.Loc2 {
    font-family: "Snell Roundhand";
    color: white;
    background-color: black;
    font-size: 20px;
    width: 100%;
}
.Tra1 {
    width: 100%;
    margin: 1%;
}
.Tra2 {
    font-family: "Snell Roundhand";
    color: white;
    background-color: black;
    font-size: 20px;
    width: 100%;
}
.Sho1 {
    width: 100%;
    margin: 1%;
}
.Sho2 {
    font-family: "Snell Roundhand";
    color: black;
    background-color: white;
    font-size: 20px;
    width: 100%;

}