.navbar {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.Loc {
    font-family: "Snell Roundhand", serif;
    color: white;
    background-color: black;
    font-size: 20px;
}
.Tra {
    font-family: "Snell Roundhand", serif;
    color: white;
    background-color: black;
    font-size: 20px;
}
.Sho {
    font-family: "Snell Roundhand", serif;
    color: black;
    background-color: white;
    font-size: 20px;
}