.background {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/006/469/232/small/abstract-white-background-with-halftone-texture-free-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.loc-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-family: "Snell Roundhand", serif;
    font-size: 20px;
    color: #ffffff;
    background-color: black;
    opacity: 75%;
    text-align: center;
    width: 100%;
}
.map {
    display: flex;
    justify-content: center;
}
.map-container {
    align-items: center;
    width: 85%;
    height: 40%;
    position: absolute;
}
.Popup {
    max-width: 300px;
    max-height: 200px;
}
.photo {
    max-width: 170px;
    max-height: 150px;
}
.logout {
}