.background-sho {
    background-image: url("https://t4.ftcdn.net/jpg/03/11/58/53/360_F_311585337_F1j9E8Q9BUP5gvcEBb8KHIw0Nn5sgHYl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height:800px;
}
.sho-header {
    display: flex;
    align-items: center;
}
.sho-title {
    font-family: "Snell Roundhand", Arial, serif;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    background-color: black;
    width: 100%;
    opacity: 75%;
}
.shops {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10%;
}
.shop {
    background-color: orangered;
    width: 150px;
    height: 100px;
    padding: 10%;
    margin: 0 auto 10%;
}

.button-header {
    display: flex;
    justify-content: space-between;
}
.button-back {
    font-family: "Snell Roundhand", serif;
    font-size: 20px;
    color: #ffffff;
    background-color: black;
    opacity: 75%;
    border: none;
}
.logout {
    font-family: "Snell Roundhand", serif;
    font-size: 20px;
    color: #ffffff;
    background-color: black;
    opacity: 75%;
    border: none;
}