.background-tra {
    background-image: url("https://t4.ftcdn.net/jpg/03/11/58/53/360_F_311585337_F1j9E8Q9BUP5gvcEBb8KHIw0Nn5sgHYl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 1000px;
}
.button-header {
    display: flex;
    justify-content: space-between;
}
.button-back {
    color: #000000;
    opacity: 75%;
}
.logout {
    color: #000000;
    opacity: 75%;
}
.tra-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tra-title {
    font-family: "Snell Roundhand", Arial, serif;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    background-color: black;
    width: 100%;
    opacity: 75%;
}
.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vid-title {
    font-family: "Snell Roundhand", Arial, serif;
    font-style: italic;
    font-size: 23px;
    color: #000000;
    background-color: white;
    margin-top: 10%;
    padding: 3%;
    border: black solid 1px;
    border-radius: 20px;
    opacity: 75%;
}
.iframe {
    width: 95%;
}