.Way {
    background-image: url("https://media.istockphoto.com/photos/basketball-sports-equipment-in-school-gymnasium-locker-room-picture-id1021177520?k=20&m=1021177520&s=612x612&w=0&h=FdmJ1Tq-syegpRmA8jZoGhpZwifHwXymDuXuG2oLdDQ=");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.Way-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
.Way-title {
    font-family: "Snell Roundhand";
    font-size: 35px;
    color: #ffffff;
}
.Way-title {
    background-color: black;
    width: 100%;
    opacity: 75%;
}
.Navbar {
    margin-top: 50%;
    justify-content: center;
    align-items: center;
}
.logout {
    justify-content: left;
    color: black;
}
